<ion-app>
  
  <ion-menu side="start" content-id="main-content" menuId="main-menu">
    <ion-header>
      <ion-toolbar style="height: 100px;" color="primary"  translucent>
        <ion-title style="padding-left: 85px; padding-top: 45px;">{{fullname}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>DashBoard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/signin">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>SignIn</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [hidden]="hide_signup" routerLink="/signup">
            <ion-icon name="person-add" slot="start"></ion-icon>
            <ion-label>SignUp</ion-label>
          </ion-item >
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [hidden]="hide_settings" routerLink="/editprofile">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Edit Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inbox</ion-title>
      </ion-toolbar>
    </ion-header>
    
  </div>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
